.country-details {

  width: 400px;

    &__country-stat{
        
        font-weight: 600;

        &__dim-text{
            font-weight: 400;
            color: $Grey;
        }
        &__dim-text--dark{
          font-weight: 400;
          color: $Very;
      }
    }

}

.country-details {


  &__country-name {
    padding: 0px 0px 25px 0px;
    font-size: 2rem;
  }
  &__stats-columns {

    display: flex;

    &__left {
      margin: 0px 60px 0px 0px;
    }
  }
}

@media (min-width : 1500px){
  .country-details {
    padding: 0px 0px 0px 100px;
    width: 600px;}
}

@media (min-width : 1250px){
  .country-details {
    padding: 0px 0px 0px 30px;
    width: 550px;}
}
