.dashboard {
    align-self: center;
}

.dashboard__cards-section {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 3rem;
   
    justify-content: center;
}


@media (min-width: 800px) {
    .dashboard__cards-section{
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width: 1200px) {
    .dashboard__cards-section{
        grid-template-columns: repeat(3, auto);
    }
}

@media (min-width: 1600px) {
    .dashboard__cards-section{
        grid-template-columns: repeat(4, auto);
    }
}