.filtering-tools {
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
}


@media (max-width : 800px){
    .filtering-tools {
        flex-direction: column;
      }
}
@media (max-width : 1200px){
    .filtering-tools {
        justify-content: space-around;
        gap: 20px;
      }
}