
$Dark : hsl(209, 23%, 22%);
$Deep-Dark-Blue : hsl(207, 26%, 17%);
$Dark-Blue: hsl(201, 16%, 24%);
$Grey : hsl(0, 0%, 40%);
$Light-Grey : hsl(0, 0%, 93%);
$Very : hsl(0, 0%, 98%);
$White : hsl(0, 0%, 100%);