@import "./_variables.scss";
@import "./index.scss";
@import "./Components/TopBar.scss";
@import "./Components/CountryCard.scss";
@import "./Components/CountryDashboard.scss";



.App {
    background-color: $Very;
    display: flex;
    flex-direction: column;
    color: black;
}

.App--dark
{
    color: $Very;
}
