@import "./_variables.scss";
@import "./index.scss";
@import "./Components/TopBar.scss";
@import "./Components/CountryCard.scss";
@import "./Components/Dashboard.scss";
@import "./Components/CountryPage.scss";
@import "./Components/CountryDetails.scss";
@import "./Components/Badge.scss";
@import "./Components/Borders.scss";
@import "./Components/FilteringTools.scss";


.App {
    background-color: $Very;
    display: flex;
    flex-direction: column;
    color: black;
    min-height: 100vh;
}

.App--dark
{
    color: $Very;
    background-color: $Deep-Dark-Blue;
}
